:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cups {
    margin-top: 100px;
}

.cup {
    height: 300px;
    padding: 0 40px;
}

#guess-buttons {
    padding: 20px;
}

#guess-buttons button {
    padding: 10px;
    margin: 0 125px;
}