:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 12px;
}

span {
    font-size: 20px;
    padding-bottom: 12px;
}

#cups {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cup {
    height: 300px;
    padding: 0 40px;
    z-index: 10;
}

#ball {
    height: 100px;
    z-index: 0;
    display: flex;
    margin-top: -110px;
    margin-right: auto;
    margin-left: auto;
    grid-column: 2;
}

#guess-buttons {
    padding: 20px;
}

#guess-buttons button {
    padding: 10px;
    margin: 0 125px;
}

#scoreboard {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: red; */
    text-align: center;
    font-size: 12px;
}

#correct, #incorrect, #total {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scoreboard-title {
    margin-top: 4px;
}

